<!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo">
                <span style="font-size: 18px; font-weight: bolder; margin-left: 30%;">
                EQUALIZER
            </span>
        </span>
        <!-- END LOGO PLACEHOLDER -->
    </div>
    <!-- pulled right: nav area -->
    <div class="pull-right" style="margin-left:10px;">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="smartadmin/javascript:void(0);" data-action="toggleMenu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->
        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="/signout" data-action="userLogout" data-logout-msg="Confirm logout?"> <i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="smartadmin/javascript:void(0);" data-action="launchFullscreen" <i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

    </div>
    <div>
        <div style="margin-top: 8%; font-size: 14px;">
            <span>
                &nbsp&nbspActive Battery Management
            </span>
        </div>
    </div>

    <div id="divInfoHeader" class="pull-right" <%if (!showHeaderData) {%> style="display: none;"
        <%}%>>
            <div style="margin-top: 3%;">
                <!-- <span>Target - </span>
                <b><span id="txtTarget">0</span></b> &nbsp&nbsp&nbsp
                <span>Tensão de barramento - </span>
                <b><span id="txtTensaoBarramento">0</span></b> &nbsp&nbsp&nbsp -->
                <span><%= translate_header.database_capacity %> - </span>
                <b><span id="txtCapBanco">0%</span></b>
            </div>
    </div>


    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <div class="login-info" style="border:none; margin-left:4%; margin-top: 20%; height:90%">
        <img src="smartadmin/img/cm_logo_white.png" alt="Equalizer" style="width:90%;"/> 
    </div>
    <br/>
    <br/>
    <br/>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!-- User info -->
        <div class="login-info" style="border: none;">
            <span style="text-align: center; border: 1px solid white; margin-left: 5%; margin-right: 5%; height: 55px;">
                <a href="smartadmin/javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                    <span style="margin-top: 12%;">
                        <%= username %>
                    </span>
            </a>
            </span>
        </div>
        <br />
        <br />
        <ul>
            <li style="border: 1px solid white; margin-left: 5%; margin-right: 5%;" class="top-menu-invisible">
                <a href="#" title="Status"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i><span class="menu-item-parent"><%= translate_header.status %></span></a>
                <ul>
                    <li <%if (pageName=='statusmoduloview' ) {%> class='active'
                        <%}%>>
                            <a href="statusmoduloview" title="Módulos"><span class="menu-item-parent"><%= translate_header.modules %></span></a>
                    </li>
                    <li <%if (pageName=='tendenciasview' ) {%> class='active'
                            <%}%>>
                                <a href="tendenciasview" title="Tendências"><span class="menu-item-parent"><%= translate_header.tendencies %></span></a>
                        </li>
                    <li <%if (pageName=='chartview' ) {%> class='active'
                        <%}%>>
                            <a href="chartview" title="Gráficos"><span class="menu-item-parent"><%= translate_header.plots %></span></a>
                    </li>
                    <li <%if (pageName=='chart2view' ) {%> class='active'
                        <%}%>>
                            <a href="chart2view" title="Limites"><span class="menu-item-parent"><%= translate_header.limits %></span></a>
                    </li>
                </ul>
            </li>
            <br />
            <br />
            <li style="border: 1px solid white; margin-left: 5%; margin-right: 5%;" class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i><span class="menu-item-parent"><%= translate_header.configurations %></span></a>
                <ul>
                    <li <%if (pageName=='usuarioview' ) {%> class='active'
                        <%}%>>
                            <a href="usuarioview" title="Gerenciamento de usuários"><span class="menu-item-parent"><%= translate_header.users %></span></a>
                    </li>
                    <li <%if (pageName=='moduloview' ) {%> class='active'
                        <%}%>>
                            <a href="moduloview" title="Módulos, alarme e bateria"><span class="menu-item-parent"></span><%= translate_header.modules_config %></a>
                    </li>
                    <li <%if (pageName=='emailserverview' ) {%> class='active'
                        <%}%>>
                            <a href="emailserverview" title="Configuração de email server"><span class="menu-item-parent"><%= translate_header.email_config %></span></a>
                    </li>
                    <li <%if (pageName=='timeserverview' ) {%> class='active'
                        <%}%>>
                            <a href="timeserverview" title="Configuração de timeserver"><span class="menu-item-parent"><%= translate_header.timeserver_config %></span></a>
                    </li>
                    <li <%if (pageName=='redesegurancaview' ) {%> class='active'
                        <%}%>>
                            <a href="redesegurancaview" title="Rede & Segurança"><span class="menu-item-parent"><%= translate_header.network_config %></span></a>
                    </li>
                    <% if (userAccess =='administrador') {%>
                        <li <%if (pageName=='parameterview' ) {%> class='active'
                            <%}%>>
                                <a href="parameterview" title="Parâmetros"><span class="menu-item-parent"><%= translate_header.params %></span></a>
                        </li>
                        <%}%>
                    <% if (userAccess =='administrador') {%>
                        <li <%if (pageName=='Análise de Tendência' ) {%> class='active'
                            <%}%>>
                                <a href="tendanaliticsview" title="Análise de Tendência"><span class="menu-item-parent"><%= translate_header.tendencies_config %></span></a>
                        </li>
                    <%}%>

                    <% if (userAccess =='administrador') {%>
                        <li <%if (pageName=='SNMP' ) {%> class='active'
                            <%}%>>
                                <a href="snmpconfigview" title="SNMP"><span class="menu-item-parent"><%= translate_header.snmp %></span></a>
                        </li>
                    <%}%>
                </ul>
            </li>
            <br />
            <br />
            <li style="border: 1px solid white; margin-left: 5%; margin-right: 5%;">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i><span class="menu-item-parent"><%= translate_header.log %></span></a>
                <ul>
                    <li <%if (pageName=='alarmlogview' ) {%> class='active'
                        <%}%>>
                            <a href="alarmlogview" title="Alarme de eventos"><span class="menu-item-parent"><%= translate_header.alarm_events %></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<script>
    function getSomatoria() {
        // var casasDecimais = <%- headerInfoCDec %>;
        $.get("/getheaderdata", "", function (data, status) {
            // $("#txtTensaoBarramento").text((data.somaTensao / 1000).toFixed(parseInt(casasDecimais)));
            // $("#txtTarget").text((data.avg / 1000).toFixed(parseInt(casasDecimais)));
            $("#txtCapBanco").text(data.capBanco.toString() + '%');
        });
    }
    $(document).ready(function () {
         getSomatoria();
         setInterval(function () { getSomatoria(); }, 3000);
    });

</script>