<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <div id="ribbon">
                <ol class="breadcrumb">
                    <li><%= translate.config %></li>
                    <li><%= translate.mail_server %></li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.mail_server_config %></h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" class="smart-form">

                                        <ng-view></ng-view>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.mail_server_test %></h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="testeEnvioEmail" class="smart-form">
                                        <section class="col-sm-12 col-md-12 col-lg-12">
                                            <fieldset>
                                                <section class="col-sm-12 col-md-12 col-lg-12">
                                                    <label class="label"><%= translate.test_destination %></label>
                                                    <label class="input">
                                                        <input type="text" id="txtDest" placeholder="<%= translate.test_email %>" required />
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.test_email %></b>
                                                        </label>
                                                </section>
                                                <section class="col-sm-12 col-md-12 col-lg-12">
                                                    <label class="label"><%= translate.test_subject %></label>
                                                    <label class="input">
                                                        <input type="text" id="txtAssunto" placeholder="<%= translate.test_subject %>" required />
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.test_subject %></b>
                                                        </label>
                                                </section>
                                                <section class="col-sm-12 col-md-12 col-lg-12">
                                                    <label class="label"><%= translate.test_message %></label>
                                                    <label class="input">
                                                        <input type="text" id="txtMensagem" placeholder="<%= translate.test_message %>" required  />
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.test_message %></b>
                                                        </label>
                                                </section>
                                                <section>
                                                    <button class="btn btn-primary pull-right" style="width: 100px; height: 30px;" onclick="sendMailTest();"><%= translate.send %></button>
                                                </section>
                                        </section>
                                        </fieldset>
                                        </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <script type="text/ng-template" id="/emailserver.html">
                    <fieldset>
                        <section class="col-sm-12 col-md-12 col-lg-12">
                            <fieldset>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.mail_server %></label>
                                        <label class="input">
                                        <input type="text" ng-model="emailserver[0].server" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="><%= translate.mail_server %>" />
                                        <b class="tooltip tooltip-bottom-right">><%= translate.mail_server %></b>
                                        </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="checkbox">
                                        <input type="checkbox" ng-model="emailserver[0].usarAutenticacao" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" />
                                        <i></i><%= translate.spa %></label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.smtp_port %></label>
                                        <label class="input">
                                        <input type="number" ng-model="emailserver[0].portaSMTP" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="<%= translate.smtp_port %>" />
                                        <b class="tooltip tooltip-bottom-right"><%= translate.smtp_port %></b>
                                        </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.login %></label>
                                        <label class="input">
                                        <input type="text" ng-model="emailserver[0].login" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="<%= translate.login %>" />
                                        <b class="tooltip tooltip-bottom-right"><%= translate.login %></b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.key %></label>
                                        <label class="select">
                                        <select name="criptoTLS" id="criptoTLS" ng-model="emailserver[0].usarCriptografiaTLS" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" >
                                            <option value="0" ng-selected="selected">Nenhum</option>
                                            <option value="1"><%= translate.key_tls %></option>
                                            <option value="2"><%= translate.key_ssl %></option>
                                        </select>
                                        <i></i>
                                    </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.password %></label>
                                        <label class="input">
                                        <input type="password" name="password" id="password" ng-model="emailserver[0].senha" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="<%= translate.password %>" />
                                        <b class="tooltip tooltip-bottom-right"><%= translate.password %></b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.email %></label>
                                        <label class="input">
                                        <input type="email" name="email" id="email" ng-model="emailserver[0].email" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="<%= translate.email %>" />
                                        <b class="tooltip tooltip-bottom-right"><%= translate.email %></b>
                                        </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label"><%= translate.password_confirm %></label>
                                        <label class="input">
                                        <input type="password" name="passwordConfirm" id="passwordConfirm" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="<%= translate.password_confirm %>" />
                                        <b class="tooltip tooltip-bottom-right"><%= translate.password_confirm %></b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-5 col-md-5 col-lg-5">
                                    <label class="label"><%= translate.test_subject %></label>
                                    <label class="input">
                                        <input type="text" ng-model="emailserver[0].assunto" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" placeholder="<%= translate.test_subject %>" />
                                        <b class="tooltip tooltip-bottom-right"><%= translate.test_subject %></b>
                                        </label>
                                </section>
                            </fieldset>
                        </section>
                        <section>
                            <button ng-click="update()" class="btn btn-primary pull-right" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" style="width: 100px; height: 30px;"><%= translate.save %></button>
                        </section>
                    </fieldset>

                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('EmailServer', ['$resource', function ($resource) {
                            return $resource('/emailserver/:id', null, {
                                'update': { method: 'PUT' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('EmailServerController', ['$scope', 'EmailServer', function ($scope, EmailServer) {
                            $scope.serverDate = new Date();
                            $scope.emailserver = EmailServer.query();
                            $scope.update = function () {
                                if ($("#password").val() != $("#passwordConfirm").val() || (!isEmail($("#email").val())))
                                    return;
                                var emailserver = $scope.emailserver[0];
                                EmailServer.update(emailserver);
                                $.bigBox({
                                    title: "<%= translate.mail_server %>",
                                    content: "<%= translate.success %>",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated",
                                    number: emailserver._id
                                });
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/emailserver.html',
                                    controller: 'EmailServerController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function sendMailTest() {
                var dests = $("#txtDest").val();
                var assunto = $("#txtAssunto").val();
                var mensagem = $("#txtMensagem").val();
                if (dests.trim() == "" || assunto.trim() == "" || mensagem.trim() == "")
                    return;
                var params = { "emailsDestino": dests, "assunto": assunto, "mensagem": mensagem };
                $.post("/enviarEmail", params, function (data, status) {
                   
                });
                 $.bigBox({
                        title: "<%= translate.mail_server %>",
                        content: "<%= translate.email_sent %>",
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
            }
            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }
            $(document).ready(function () {
                var errorClass = 'invalid';
                var errorElement = 'em';
                var $registerForm = $("#smart-form-register").validate({
                    errorClass: errorClass,
                    errorElement: errorElement,
                    highlight: function (element) {
                        $(element).parent().removeClass('state-success').addClass("state-error");
                        $(element).removeClass('valid');
                    },
                    unhighlight: function (element) {
                        $(element).parent().removeClass("state-error").addClass('state-success');
                        $(element).addClass('valid');
                    },

                    // Rules for form validation
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        passwordConfirm: {
                            required: true,
                            minlength: 3,
                            maxlength: 20,
                            equalTo: '#password'
                        }
                    },

                    // Messages for form validation
                    messages: {
                        email: {
                            required: '<%= translate.err1 %>',
                            email: '<%= translate.err2 %>'
                        },
                        passwordConfirm: {
                            required: '<%= translate.err3 %>',
                            equalTo: '<%= translate.err4 %>'
                        }
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            });
        </script>
        <% include partials/footer %>
</body>

</html>