<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
    <style>
        .checkboxes label {
                display: block;
                float: left;
                padding-right: 10px;
                white-space: nowrap;
            }
            .checkboxes input {
                vertical-align: middle;
            }
            .checkboxes label span {
                vertical-align: middle;
            }
    </style>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><%= translate.config %></li>
                    <li><%= translate.parameters %></li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.parameters %></h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body">

                                    <form id="smart-form-register" class="smart-form">
                                        <ng-view></ng-view>
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <script type="text/ng-template" id="/parametro.html">
                    <section>
                        <div class="widget-body no-padding">
                            <form name="form1" ng-disabled="acessoUsuario != 'administrador'">
                                <header>
                                    <%= translate.parameter_register %>
                                </header>
                                <div class="row" style="padding-left: 20px;padding-right: 20px;padding-top: 20px;">
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label"><%= translate.duty_min %></label>
                                                <label class="input">
                                                <input type="text" name="duty_min" placeholder="<%= translate.duty_min %>" ng-model="parameter.duty_min" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.duty_min %></b> </label>
                                            </section>
                                            <section>
                                                <label class="label"><%= translate.duty_max %></label>
                                                <label class="input">
                                                <input type="text" name="duty_max" placeholder="<%= translate.duty_max %>" ng-model="parameter.duty_max" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.duty_max %></b> </label>
                                            </section>
                                            <section>
                                                    <label class="label"><%= translate.delay_between_read %></label>
                                                    <label class="input">
                                                    <input type="text" name="Delay" placeholder="<%= translate.delay_between_read %>" ng-model="parameter.delay" ng-disabled="acessoUsuario != 
    'administrador'">
                                                    <b class="tooltip tooltip-bottom-right"><%= translate.delay_between_read %></b> </label>
                                                </section>
                                        </fieldset>
                                    </section>
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label"><%= translate.nb_read_impedance %></label>
                                                <label class="input">
                                                <input type="text" name="num_cycles_var_read" placeholder="<%= translate.nb_read_impedance %>" ng-model="parameter.num_cycles_var_read" 
ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.nb_read_impedance %></b> </label>
                                            </section>
                                            <section>
                                                <label class="label"><%= translate.nb_write_chart %></label>
                                                <label class="input">
                                                <input type="text" name="save_log_time" placeholder="<%= translate.nb_write_chart_desc %>" ng-model="parameter.save_log_time" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.nb_write_chart_desc %></b> </label>
                                            </section>
                                            <section>
                                                    <label class="label"><%= translate.ssh %></label>
                                                    <div>
                                                        <div class="checkboxes">
                                                            <label for="x"><input type="checkbox" id="x" ng-model="parameter.ssh_enabled" ng-click="checkboxpressed();"/> 
                                                                </label>
                                                        </div>
                                                    </div>
                                                </section>
                                        </fieldset>
                                    </section>
                                </div>
                                <div class="row" style="padding-left: 20px;padding-right: 20px;padding-bottom: 20px;">
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label"><%= translate.delay_between_batteries %></label>
                                                <label class="input">
                                                <input type="text" name="param1" placeholder="<%= translate.param1 %>" ng-model="parameter.param1" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.param1 %></b> </label>
                                            </section>
                                            <section>
                                                <label class="label"><%= translate.timeout_err_read %></label>
                                                <label class="input">
                                                <input type="text" name="param2" placeholder="<%= translate.param2 %>" ng-model="parameter.param2" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.param2 %></b> </label>
                                            </section>
                                            <section>
                                                <label class="label"><%= translate.nb_tries_timeout %></label>
                                                <label class="input">
                                                <input type="text" name="param3" placeholder="<%= translate.param3 %>" ng-model="parameter.param3" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.param3 %></b> </label>
                                            </section>
<!--                                             <section>
                                                <label class="label">Destino (Trap)</label>
                                                <label class="input">
                                                <input type="text" name="param1" placeholder="Param. 4" ng-model="parameter.param4" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 4</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Porta (Trap)</label>
                                                <label class="input">
                                                <input type="text" name="param5" placeholder="Param. 5" ng-model="parameter.param5" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 5</b> </label>
                                            </section> -->
                                        </fieldset>
                                    </section>
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label"><%= translate.param8 %></label>
                                                <label class="input">
                                                <input type="text" name="param8" placeholder="<%= translate.param8 %>" ng-model="parameter.param8" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.param8 %></b> </label>
                                            </section>
                                            <section>
                                                <label class="label"><%= translate.param9 %></label>
                                                <label class="input">
                                                <input type="text" name="param9" placeholder="<%= translate.param9 %>" ng-model="parameter.param9" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.param9 %></b> </label>
                                            </section>
                                            <section>
                                                <label class="label"><%= translate.param10 %></label>
                                                <label class="input">
                                                <input type="text" name="param10" placeholder="<%= translate.param10 %>" ng-model="parameter.param10" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right"><%= translate.param10 %></b> </label>
                                            </section>
                                        </fieldset>
                                    </section>
                                    </div>
                                    <button id="btnGravarDb" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador'" ng-click="saveParameter();"
                                        style="float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;"><%= translate.apply %></button>
                                    <button id="btnReiniciar" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador'" onclick="reboot();"
                                        style="float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;"><%= translate.restart %></button>
                                    <button id="btnDesigarSNMP" class="btn btn-danger" ng-disabled="acessoUsuario != 'administrador'" onclick="offSNMP();"
                                        style="display:none; float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;"><%= translate.off_snmp %></button>
                                    <button id="btnLigarSNMP" class="btn btn-success" ng-disabled="acessoUsuario != 'administrador'" onclick="onSNMP();"
                                        style="display:none; float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;"><%= translate.on_snmp %></button>
                            </form>
                        </div>
                    </section>
                    </fieldset>
                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('Parameter', ['$resource', function ($resource) {
                            return $resource('/parameter/:id', null, {
                                'update': { method: 'PUT' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('ParameterController', ['$scope', 'Parameter', function ($scope,Parameter) {
                            $scope.parameter = Parameter.get();
                            if ($scope.parameter.ssh_enabled) {
                                $scope.parameter.ssh_title = "<%= translate.active %>";
                            } else {
                                $scope.parameter.ssh_title = "<%= translate.inactive %>";
                            }
                            $scope.checkboxpressed = function(){
                                //it is about to swap
                                if(!$scope.parameter.ssh_enabled){
                                    $scope.parameter.ssh_title = "<%= translate.active %>";
                                }else{
                                    $scope.parameter.ssh_title = "<%= translate.inactive %>";
                                }
                            }
                            $scope.saveParameter = function () {
                                var parameter  = $scope.parameter;
                                Parameter.update(parameter);
                                $.bigBox({
                                    title: "<%= translate.parameter_info %>",
                                    content: "<%= translate.success %>",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated"
                                });
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/parametro.html',
                                    controller: 'ParameterController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function reboot(){
                $.get("/parameterview/reboot", null, function (data) {
                        $.bigBox({
                            title: "<%= translate.parameters %>",
                            content: data,
                            color: "#659265",
                            timeout: 1000,
                            icon: "fa fa-check fadeInLeft animated"
                        });
                    });
            }
            function onSNMP(){
                $.get("/parameterview/onSNMP", null, function (data) {
                        $.bigBox({
                            title: "<%= translate.parameters %>",
                            content: data,
                            color: "#659265",
                            timeout: 1000,
                            icon: "fa fa-check fadeInLeft animated"
                        });
                    });
            }
            function offSNMP(){
                $.get("/parameterview/offSNMP", null, function (data) {
                        $.bigBox({
                            title: "<%= translate.parameters %>",
                            content: data,
                            color: "#659265",
                            timeout: 1000,
                            icon: "fa fa-check fadeInLeft animated"
                        });
                    });
            }
        </script>
        <% include partials/footer %>
</body>

</html>
