<!DOCTYPE html>
<html lang="en-us">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">
            <div id="ribbon">
                <ol class="breadcrumb">
                    <li>Configuração</li>
                    <li>Rede & Segurança</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Rede & Segurança</h2>
                            </header>
                            <div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" action="/redesegurancaview" method="POST" class="smart-form">
                                        <fieldset>
                                            <input type="hidden" name="id" id="id" value="<%= redeSeguranca[0].id %>" />
                                            <section class="col-sm-6 col-md-6 col-lg-6">
                                                <fieldset>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Endereço MAC</label>
                                                        <input type="text" name="mac" id="mac" placeholder="Endereço MAC" value="<%= network.mac_address %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Endereço MAC</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="label">Speed Placa de Rede</label>
                                                        <label class="select">
                                                            <select name="velocidadePlacaRede" id="velocidadePlacaRede" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                                <option value="AUTO" <%if (redeSeguranca[0].velocidadePlacaRede=='AUTO') {%>  selected  <%}%>>AUTO</option>
                                                                <option value="9600" <%if (redeSeguranca[0].velocidadePlacaRede=='9600') {%>  selected  <%}%>>9600</option>
                                                                <option value="11000" <%if (redeSeguranca[0].velocidadePlacaRede=='11000') {%>  selected  <%}%>>11000</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Endereço Local</label>
                                                        <input type="text" name="localAddress" id="localAddress" placeholder="Endereço Local" value="<%= network.ip_address %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Endereço Local</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Gateway Endereço</label>
                                                        <input type="text" name="gateway" id="gateway" placeholder="Gateway Endereço" value="<%= network.gateway_ip %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Gateway Endereço</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Máscara</label>
                                                        <input type="text" name="mascara" id="mascara" placeholder="Máscara" value="<%= network.netmask %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Máscara</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Servidor DNS</label>
                                                        <input type="text" name="servidorDNS" id="servidorDNS" placeholder="Servidor DNS" value="<%= redeSeguranca[0].servidorDNS %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Servidor DNS</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Nome do Sistema</label>
                                                        <input type="text" name="nomeDoSistema" id="nomeDoSistema" placeholder="Nome do Sistema" value="<%= redeSeguranca[0].nomeDoSistema %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Nome do Sistema</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">Local do Sistema</label>
                                                        <input type="text" name="localDoSistema" id="localDoSistema" placeholder="Local do Sistema" value="<%= redeSeguranca[0].localDoSistema %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">Local do Sistema</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="label">Contato do Sistema</label>
                                                        <label class="select">
                                                            <select name="contatoDoSistema" name="contatoDoSistema" id="contatoDoSistema"  <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                                <% for(var i=0; i < usuarios.length; i++) { %>
                                                                <% if ( usuarios[i].email == redeSeguranca[0].contatoDoSistema) { %>
                                                                    <option value="<%= usuarios[i].email %>" selected><%= usuarios[i].nome %></option>
                                                                <% } else{%>
                                                                    <option value="<%= usuarios[i].email %>"><%= usuarios[i].nome %></option>
                                                                <% } %>
                                                                <% } %>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </fieldset>
                                            </section>
                                            <section class="col-sm-6 col-md-6 col-lg-6">
                                                <fieldset>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">HTTP Port</label>
                                                        <input type="number" name="httpPort" id="httpPort" placeholder="HTTP Port" value="<%= redeSeguranca[0].httpPort %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">HTTP Port</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <input type="hidden" name="useHttps" id="useHttps" value="<%= redeSeguranca[0].useHttps %>" />
                                                        <label class="checkbox">
                                                            <% if (redeSeguranca[0].useHttps) { %>
                                                                <input type="checkbox" checked onchange="check(this);"  <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                            <% }else{ %>
                                                                <input type="checkbox" onchange="check(this);" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                            <% } %>
                                                                <i></i>Use HTTPS
                                                            </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">HTTPS Port</label>
                                                        <input type="number" name="httpsPort" id="httpsPort" placeholder="HTTPS Port" value="<%= redeSeguranca[0].httpsPort %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">HTTPS Port</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label">HTTP Tempo de atualização</label>
                                                        <input type="number" name="httpTempoDeAtualizacao" id="httpTempoDeAtualizacao" placeholder="HTTP Tempo de atualização" value="<%= redeSeguranca[0].httpTempoDeAtualizacao %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right">HTTP Tempo de atualização</b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="label">Página padrão HTTP</label>
                                                        <label class="select">
                                                            <select name="paginaPadraoHttp" id="paginaPadraoHttp" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                                <option value="statusmoduloview" <%if (redeSeguranca[0].paginaPadraoHttp=='statusmoduloview') {%>  selected  <%}%>>Status Módulos</option>
                                                                <option value="usuarioview" <%if (redeSeguranca[0].paginaPadraoHttp=='usuarioview') {%>  selected  <%}%>>Gerenciamento de usuários</option>
                                                                <option value="" <%if (redeSeguranca[0].paginaPadraoHttp=='') {%>  selected  <%}%>>Cadastro de e-mail</option>
                                                                <option value="moduloview" <%if (redeSeguranca[0].paginaPadraoHttp=='moduloview') {%>  selected  <%}%>>Módulo, alarme e bateria</option>
                                                                <option value="timeserverview" <%if (redeSeguranca[0].paginaPadraoHttp=='timeserverview') {%>  selected  <%}%>>Configuração de timeserver</option>
                                                                <option value="redesegurancaview" <%if (redeSeguranca[0].paginaPadraoHttp=='redesegurancaview') {%>  selected  <%}%>>Rede & Segurança</option>
                                                                <option value="alarmlogview" <%if (redeSeguranca[0].paginaPadraoHttp=='alarmlogview') {%>  selected  <%}%>>Alarme de eventos</option>
                                                                <option value="datalogview" <%if (redeSeguranca[0].paginaPadraoHttp=='datalogview') {%>  selected  <%}%>>DataLogger</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <button type="submit" class="btn btn-primary pull-right" style="width: 100px; height: 30px;" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                            Salvar
                                                        </button>
                                                    </section>
                                                </fieldset>
                                            </section>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <script>
            function check(chk) {
                if($(chk).is(":checked")){
                    $("#useHttps").val("1");
                }else{
                    $("#useHttps").val("0");
                }
            }
        </script>
        <% include partials/footer %>
</body>

</html>
