<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">
            <div id="ribbon">
                <ol class="breadcrumb">
                    <li><%= translate.config %></li>
                    <li><%= translate.network_security %></li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.network_security %></h2>
                            </header>
                            <div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" action="/redesegurancaview" method="POST" class="smart-form netForm">
                                        <fieldset>
                                            <input type="hidden" name="id" id="id" value="<%= redeSeguranca[0].id %>" />
                                            <section class="col-sm-6 col-md-6 col-lg-6">
                                                <fieldset>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.mac_address %></label>
                                                        <input type="text" name="mac" id="mac" placeholder="<%= translate.mac_address %>" value="<%= network.mac_address %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.mac_address %></b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.local_ip %></label>
                                                        <input type="text" name="localAddress" id="localAddress" placeholder="<%= translate.local_ip %>" value="<%= network.ip_address %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.local_ip %></b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.gateway %></label>
                                                        <input type="text" name="gateway" id="gateway" placeholder="<%= translate.gateway %>" value="<%= network.gateway_ip %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.gateway %></b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.netmask %></label>
                                                        <input type="text" name="mascara" id="mascara" placeholder="<%= translate.netmask %>" value="<%= network.netmask %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.netmask %></b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.dns %></label>
                                                        <input type="text" name="servidorDNS" id="servidorDNS" placeholder="<%= translate.dns %>" value="<%= redeSeguranca[0].servidorDNS %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.dns %></b>
                                                        </label>
                                                    </section>
                                                </fieldset>
                                            </section>
                                            <section class="col-sm-6 col-md-6 col-lg-6">
                                                <fieldset>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.system_name %></label>
                                                        <input type="text" name="nomeDoSistema" id="nomeDoSistema" placeholder="<%= translate.system_name %>" value="<%= redeSeguranca[0].nomeDoSistema %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.system_name %></b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="input">
                                                            <label class="label"><%= translate.system_location %></label>
                                                        <input type="text" name="localDoSistema" id="localDoSistema" placeholder="<%= translate.system_location %>" value="<%= redeSeguranca[0].localDoSistema %>" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                        <b class="tooltip tooltip-bottom-right"><%= translate.system_location %></b>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="label"><%= translate.system_contact %></label>
                                                        <label class="select">
                                                            <select name="contatoDoSistema" name="contatoDoSistema" id="contatoDoSistema"  <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                                <% for(var i=0; i < usuarios.length; i++) { %>
                                                                <% if ( usuarios[i].email == redeSeguranca[0].contatoDoSistema) { %>
                                                                    <option value="<%= usuarios[i].email %>" selected><%= usuarios[i].nome %></option>
                                                                <% } else{%>
                                                                    <option value="<%= usuarios[i].email %>"><%= usuarios[i].nome %></option>
                                                                <% } %>
                                                                <% } %>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <label class="label"><%= translate.http_page %></label>
                                                        <label class="select">
                                                            <select name="paginaPadraoHttp" id="paginaPadraoHttp" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                                <option value="statusmoduloview" <%if (redeSeguranca[0].paginaPadraoHttp=='statusmoduloview') {%>  selected  <%}%>><%= translate.status_module %></option>
                                                                <option value="usuarioview" <%if (redeSeguranca[0].paginaPadraoHttp=='usuarioview') {%>  selected  <%}%>><%= translate.user_management %></option>
                                                                <option value="" <%if (redeSeguranca[0].paginaPadraoHttp=='') {%>  selected  <%}%>><%= translate.email_register %></option>
                                                                <option value="moduloview" <%if (redeSeguranca[0].paginaPadraoHttp=='moduloview') {%>  selected  <%}%>><%= translate.module %></option>
                                                                <option value="timeserverview" <%if (redeSeguranca[0].paginaPadraoHttp=='timeserverview') {%>  selected  <%}%>><%= translate.timeserver %></option>
                                                                <option value="redesegurancaview" <%if (redeSeguranca[0].paginaPadraoHttp=='redesegurancaview') {%>  selected  <%}%>><%= translate.network_security %></option>
                                                                <option value="alarmlogview" <%if (redeSeguranca[0].paginaPadraoHttp=='alarmlogview') {%>  selected  <%}%>><%= translate.events_alarm %></option>
                                                                <option value="datalogview" <%if (redeSeguranca[0].paginaPadraoHttp=='datalogview') {%>  selected  <%}%>><%= translate.datalogger %></option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section>
                                                        <button id="submitBt" type="submit" class="btn btn-primary pull-right" style="width: 100px; height: 30px;" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                            <%= translate.save %>
                                                        </button>
                                                    </section>
                                                </fieldset>
                                            </section>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <% include partials/footer %>
</body>

</html>
