<!DOCTYPE html>
<html lang="en-us" ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Status</li>
                    <li>Módulos</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Status dos Módulo </h2>

                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body">
                                    <ng-view></ng-view>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <script type="text/ng-template" id="/statusModulo.html">
                    <section id="visao1">
                        <button id="btn" class="btn btn-primary pull-right" onclick="alterarVisao();">Alterar Visão</button>
                        <!-- <div ng-repeat="string in stringsDistintas"> -->
                        <div ng-repeat="f in range(stringsDistintas.length) track by $index">
                            <h3>{{ stringsDistintas[$index] }} - Tensão: {{ moduleMap[$index][0].str_tensao / 1000 }} Target: {{ moduleMap[$index][0].target / 1000  }}</h3>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover datatabletemplate">
                                    <thead>
                                        <tr>
                                            <td class="no-sort" align="center">Bateria</td>
                                            <td align="center">Tensão</td>
                                            <td align="center">Temperatura</td>
                                            <td align="center">Impedância</td>
                                            <td align="center">Equalização</td>
                                            <td align="center">Status</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="status in statusModulos | filter: { string: stringsDistintas[$index] }" ng-class="rowClass(status)">
                                            <td align="center">{{status.bateria}}</td>
                                            <td align="center">{{status.tensao | number: <%- headerInfoCDec %>}}
                                                <input type="hidden" ng-value="status.min_target" />
                                                <input type="hidden" ng-value="status.max_target" />
                                            </td>
                                            <td align="center">{{status.temperatura}}</td>
                                            <td align="center">{{status.impedancia}}</td>
                                            <td align="center">
                                                <span ng-if="status.percentualEqualizacao <= 20" title="Equalização: {{status.percentualEqualizacao.toFixed(2)}}%" dynamicbar1
                                                    data="x.bars">20,30,40,50,60</span>
                                                <span ng-if="status.percentualEqualizacao <= 40 && status.percentualEqualizacao > 20" title="Equalização: {{status.percentualEqualizacao.toFixed(2)}}%"
                                                    dynamicbar2 data="x.bars">20,30,40,50,60</span>
                                                <span ng-if="status.percentualEqualizacao <= 60 && status.percentualEqualizacao > 40" title="Equalização: {{status.percentualEqualizacao.toFixed(2)}}%"
                                                    dynamicbar3 data="x.bars">20,30,40,50,60</span>
                                                <span ng-if="status.percentualEqualizacao <= 80 && status.percentualEqualizacao > 60" title="Equalização: {{status.percentualEqualizacao.toFixed(2)}}%"
                                                    dynamicbar4 data="x.bars">20,30,40,50,60</span>
                                                <span ng-if="status.percentualEqualizacao <= 100 && status.percentualEqualizacao > 80" title="Equalização: {{status.percentualEqualizacao.toFixed(2)}}%"
                                                    dynamicbar5 data="x.bars">20,30,40,50,60</span>
                                            </td>
                                            <td align="center">
                                                <img ng-if="status.temperatura < status.min_temp || status.temperatura > status.max_temp || status.impedancia < status.min_imp || status.impedancia > status.max_imp || status.tensao < status.min_tensao || status.tensao > status.max_tensao || status.batstatus != 0"
                                                    src="/smartadmin/img/red_bullet.png" width="20" />
                                                <img ng-if="status.temperatura >= status.min_temp && status.temperatura <= status.max_temp && status.impedancia >= status.min_imp && status.impedancia <= status.max_imp && status.tensao >= status.min_tensao && status.tensao <= status.max_tensao && status.batstatus == 0"
                                                    src="/smartadmin/img/green_bullet.png" width="20" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section id="visao2">
                        <button id="btn" class="btn btn-primary pull-right" onclick="alterarVisao();">Alterar Visão</button>
                        <div ng-repeat=" i in range(stringsMap.length) track by $index">
                            <h3>{{ stringsMap[$index] }} - Tensão: {{ moduleMap[$index][0].str_tensao / 1000 }} Target: {{ moduleMap[$index][0].target / 1000  }}</h3>
                                <div ng-repeat="k in range(moduleMap[$index].length / baterias_por_hr) track by $index">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" style="table-layout: fixed; width:100%;">
                                            <thead>
                                                <tr>
                                                    <td style="width:100px;"></td>
                                                    <td align="center" style="width:50px;" ng-repeat="t in range(baterias_por_hr) track by $index">
                                                        <div ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].tensao > moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].max_tensao" style="background-color:red; height:100px; width:100%;">
                                                            <div style="background-color: gray; height:{{moduleMap[$parent.$parent.$parent.$index][$parent.$parent.$index * baterias_por_hr + $index].percentualTensao}}%; width:100%;">
                                                            </div>
                                                        </div>
                                                        <div ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].tensao >= moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].min_tensao && moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].tensao<= moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].max_tensao" style="background-color: green; height:100px; width:100%;">
                                                            <div style="background-color: gray; height:{{moduleMap[$parent.$parent.$parent.$index][$parent.$parent.$index * baterias_por_hr + $index].percentualTensao}}%; width:100%;">
                                                            </div>
                                                        </div>
                                                        <div ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].tensao < moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].min_tensao" style="background-color: red; height:100px; width:100%;">
                                                            <div style="background-color: gray; height:{{moduleMap[$parent.$parent.$parent.$index][$parent.$parent.$index * baterias_por_hr + $index].percentualTensao}}%; width:100%;">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                 <thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:100px;">Tensão</td>
                                                            <td align="center" style="width:50px;" ng-repeat="t in range(baterias_por_hr) track by $index">
                                                                {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].tensao | number: <%- headerInfoCDec %>}}
                                                                <input type="hidden" ng-value="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].min_tensao" />
                                                                <input type="hidden" ng-value="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].max_tensao" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:100px;">Temperatura</td>
                                                            <td align="center" style="width:50px;" ng-repeat="t in range(baterias_por_hr) track by $index">
                                                                {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].temperatura}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:100px;">Impedância</td>
                                                            <td align="center" style="width:50px;" ng-repeat="t in range(baterias_por_hr) track by $index">
                                                                {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].impedancia}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:100px;">Equalização</td>
                                                            <td align="center" style="width:50px;" ng-repeat="t in range(baterias_por_hr) track by $index">
                                                                <input type="hidden" ng-value="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].min_target" />
                                                                <input type="hidden" ng-value="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].max_target" />
                                                                <input type="hidden" ng-value="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].tensao" />
                                                                <span id="2" ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao <= 20" title="Equalização: {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao.toFixed(2)}}%"
                                                                    dynamicbar1 data="x.bars">20,30,40,50,60</span>
                                                                <span id="2" ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao <= 40 && moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao > 20" title="Equalização: {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao.toFixed(2)}}%"
                                                                    dynamicbar2 data="x.bars">20,30,40,50,60</span>
                                                                <span id="2" ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao <= 60 && moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao > 40" title="Equalização: {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao.toFixed(2)}}%"
                                                                    dynamicbar3 data="x.bars">20,30,40,50,60</span>
                                                                <span id="2" ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao <= 80 && moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao > 60" title="Equalização: {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao.toFixed(2)}}%"
                                                                    dynamicbar4 data="x.bars">20,30,40,50,60</span>
                                                                <span id="2" ng-if="moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao <= 100 && moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao > 80" title="Equalização: {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].percentualEqualizacao.toFixed(2)}}%"
                                                                    dynamicbar5 data="x.bars">20,30,40,50,60</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:100px;">Número</td>
                                                            <td align="center" style="width:50px;" ng-repeat="t in range(baterias_por_hr) track by $index">
                                                                {{moduleMap[$parent.$parent.$index][$parent.$index * baterias_por_hr + $index].bateria}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </thead> 
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </section>
                    </fieldset>

                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('StatusModulos', ['$resource', function ($resource) {
                            return $resource('/statusmodulo/:id', null, {
                                'update': { method: 'PUT' },
                                'query': {
                                    isArray: true,
                                    method: 'GET'
                                }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('StatusModuloController', ['$scope', 'StatusModulos', function ($scope, StatusModulos) {
                            StatusModulos.query(function (res) {
                                $(".datatabletemplate").DataTable().destroy();
                                $scope.statusModulos = res;
                                var flags = [], output = [], l = $scope.statusModulos.length, i;
                                var separated = [];
                                var indexes = [];
                                for (i = 0; i < l; i++) {
                                    var vi = indexes.indexOf($scope.statusModulos[i].string);
                                    if(!(vi > -1)){
                                        indexes.push($scope.statusModulos[i].string);
                                        vi = indexes.indexOf($scope.statusModulos[i].string);
                                        separated[vi] = [];
                                    }

                                    separated[vi].push($scope.statusModulos[i]);
                                    
                                    if (flags[$scope.statusModulos[i].string]){
                                        continue;
                                    }
                                    flags[$scope.statusModulos[i].string] = true;
                                    output.push($scope.statusModulos[i].string);
                                }

                                var b_p_hr = $scope.statusModulos[0].baterias_por_hr;

                                if(b_p_hr === "Ilimitado" || b_p_hr === "ilimitado"){
                                    $scope.baterias_por_hr = separated[0].length;
                                }else{
                                    $scope.baterias_por_hr = parseInt(b_p_hr);
                                }

                                $scope.moduleMap = separated;
                                $scope.stringsMap = indexes;
                                $scope.stringsDistintas = output;

                                $scope.range = function(val){
                                    return new Array(val);
                                }
                                
                            }, function (error) {
                                // Error handler code
                            });
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';

                            setInterval(function () {
                                StatusModulos.query(function (res) {
                                    $scope.statusModulos = res;
                                    var separated = [];
                                    var indexes = [];
                                    var flags = [], output = [], l = $scope.statusModulos.length, i;
                                    for (i = 0; i < l; i++) {
                                        var vi = indexes.indexOf($scope.statusModulos[i].string);
                                        if(!(vi > -1)){
                                            indexes.push($scope.statusModulos[i].string);
                                            vi = indexes.indexOf($scope.statusModulos[i].string);
                                            separated[vi] = [];
                                        }

                                        separated[vi].push($scope.statusModulos[i]);
                                        if (flags[$scope.statusModulos[i].string]){
                                            continue;
                                        }
                                        flags[$scope.statusModulos[i].string] = true;
                                        output.push($scope.statusModulos[i].string);
                                    }

                                    var b_p_hr = $scope.statusModulos[0].baterias_por_hr;

                                    if(b_p_hr === "Ilimitado" || b_p_hr === "ilimitado"){
                                        $scope.baterias_por_hr = separated[0].length;
                                    }else{
                                        $scope.baterias_por_hr = parseInt(b_p_hr);
                                    }

                                    $scope.moduleMap = separated;
                                    $scope.stringsMap = indexes;
                                    $scope.stringsDistintas = output;

                                    $scope.range = function(val){
                                        return new Array(val);
                                    }
                                }, function (error) {
                                    // Error handler code
                                });
                            }, 1500);
                        }])
                        .directive('dynamicbar1', function () {
                            return {
                                scope: {
                                    data: '='
                                },
                                link: function (scope, element) {
                                    var valor = 0.00;
                                    var minTensao = 0.00;
                                    var maxTensao = 0.00;

                                    if (element[0].id == "2") {
                                        valor = parseFloat($(element[0]).parent().children()[2].value);
                                        minTensao = parseFloat($(element[0]).parent().children()[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().children()[1].value);
                                    } else {
                                        valor = parseFloat($(element[0]).parent().parent()[0].children[1].textContent);
                                        minTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[1].value);
                                    }
                                    if (valor > maxTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["red", "red", "gray", "gray", "gray", "gray"]
                                        });
                                    } else if (valor < minTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["yellow", "yellow", "gray", "gray", "gray", "gray"]
                                        });
                                    } else {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["green", "green", "gray", "gray", "gray", "gray"]
                                        });
                                    }
                                }
                            }
                        })
                        .directive('dynamicbar2', function () {
                            return {
                                scope: {
                                    data: '='
                                },
                                link: function (scope, element) {
                                    var valor = 0.00;
                                    var minTensao = 0.00;
                                    var maxTensao = 0.00;

                                    if (element[0].id == "2") {
                                        valor = parseFloat($(element[0]).parent().children()[2].value);
                                        minTensao = parseFloat($(element[0]).parent().children()[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().children()[1].value);
                                    } else {
                                        valor = parseFloat($(element[0]).parent().parent()[0].children[1].textContent);
                                        minTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[1].value);
                                    }
                                    if (valor > maxTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["red", "red", "red", "gray", "gray", "gray"]
                                        });
                                    } else if (valor < minTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["yellow", "yellow", "yellow", "gray", "gray", "gray"]
                                        });
                                    } else {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["green", "green", "green", "gray", "gray", "gray"]
                                        });
                                    }
                                }
                            }
                        })
                        .directive('dynamicbar3', function () {
                            return {
                                scope: {
                                    data: '='
                                },
                                link: function (scope, element) {
                                    var valor = 0.00;
                                    var minTensao = 0.00;
                                    var maxTensao = 0.00;

                                    if (element[0].id == "2") {
                                        valor = parseFloat($(element[0]).parent().children()[2].value);
                                        minTensao = parseFloat($(element[0]).parent().children()[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().children()[1].value);
                                    } else {
                                        valor = parseFloat($(element[0]).parent().parent()[0].children[1].textContent);
                                        minTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[1].value);
                                    }
                                    if (valor > maxTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            disableTooltips: true,
                                            height: 15,
                                            barWidth: 3,
                                            colorMap: ["red", "red", "red", "red", "gray", "gray"]
                                        });
                                    } else if (valor < minTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            disableTooltips: true,
                                            height: 15,
                                            barWidth: 3,
                                            colorMap: ["yellow", "yellow", "yellow", "green", "gray", "gray"]
                                        });
                                    } else {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            disableTooltips: true,
                                            height: 15,
                                            barWidth: 3,
                                            colorMap: ["green", "green", "green", "green", "gray", "gray"]
                                        });
                                    }
                                }
                            }
                        })
                        .directive('dynamicbar4', function () {
                            return {
                                scope: {
                                    data: '='
                                },
                                link: function (scope, element) {
                                    var valor = 0.00;
                                    var minTensao = 0.00;
                                    var maxTensao = 0.00;

                                    if (element[0].id == "2") {
                                        valor = parseFloat($(element[0]).parent().children()[2].value);
                                        minTensao = parseFloat($(element[0]).parent().children()[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().children()[1].value);
                                    } else {
                                        valor = parseFloat($(element[0]).parent().parent()[0].children[1].textContent);
                                        minTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[1].value);
                                    }
                                    if (valor > maxTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["red", "red", "red", "red", "red", "gray"]
                                        });
                                    } else if (valor < minTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["yellow", "yellow", "yellow", "yellow", "yellow", "gray"]
                                        });
                                    } else {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            disableTooltips: true,
                                            barWidth: 3,
                                            colorMap: ["green", "green", "green", "green", "green", "gray"]
                                        });
                                    }
                                }
                            }
                        })
                        .directive('dynamicbar5', function () {
                            return {
                                scope: {
                                    data: '='
                                },
                                link: function (scope, element) {
                                    var valor = 0.00;
                                    var minTensao = 0.00;
                                    var maxTensao = 0.00;

                                    if (element[0].id == "2") {
                                        valor = parseFloat($(element[0]).parent().children()[2].value);
                                        minTensao = parseFloat($(element[0]).parent().children()[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().children()[1].value);
                                    } else {
                                        valor = parseFloat($(element[0]).parent().parent()[0].children[1].textContent);
                                        minTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[0].value);
                                        maxTensao = parseFloat($(element[0]).parent().parent()[0].children[1].children[1].value);
                                    }
                                    if (valor > maxTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            barWidth: 3,
                                            disableTooltips: true,
                                            colorMap: ["red", "red", "red", "red", "red", "red"]
                                        });
                                    } else if (valor < minTensao) {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            barWidth: 3,
                                            disableTooltips: true,
                                            colorMap: ["yellow", "yellow", "yellow", "yellow", "yellow", "yellow"]
                                        });
                                    } else {
                                        element.sparkline(scope.data, {
                                            type: 'bar',
                                            width: 50,
                                            height: 15,
                                            barWidth: 3,
                                            disableTooltips: true,
                                            colorMap: ["green", "green", "green", "green", "green", "green"]
                                        });
                                    }
                                }
                            }
                        })

                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/statusModulo.html',
                                    controller: 'StatusModuloController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function setChart() {
                if ($('#stacked-bar-graph').length) {
                    Morris.Bar({
                        element: 'stacked-bar-graph',
                        resize: true,
                        axes: false,
                        grid: false,
                        data: [{
                            y: 10,
                            z: 5
                        }],
                        xkey: 'x',
                        ykeys: ['y', 'z'],
                        labels: ['Y', 'Z'],
                        stacked: true,
                        hideHover: "always"
                    });
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                setTimeout(function () { $("#visao2").hide() }, 1000);
            });
            function alterarVisao() {
                if ($("#visao1").is(":visible")) {
                    $("#visao1").fadeOut();
                    $("#visao2").fadeIn();
                } else {
                    $("#visao2").fadeOut();
                    $("#visao1").fadeIn();
                }
                setTimeout(setChart(), 0);
            }
        </script>
        <% include partials/footer %>
</body>

</html>