<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><%= translate.config %></li>
                    <li><%= translate.tend_analitics %></li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.tend_analitics %></h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body">

                                    <form id="smart-form-register" class="smart-form">
                                        <ng-view></ng-view>
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <script type="text/ng-template" id="/tendanalitics.html">
                    <header>
                            <%= translate.tend_analitics_config %>
                    </header>
                    <div class="input-group-text">
                        <input type="checkbox" id="refreshButton" ng-model="tendenceConfigs.is_on" ng-click=""><p><%= translate.enable %></p>
                    </div>
                    <!--
                    <div class="input-group-text">
                        <input type="checkbox" id="refreshButton" ng-model="tendenceConfigs.testMode" ng-click=""><p>Modo Teste</p>
                    </div>
                    -->
                    <section>
                        <div class="widget-body no-padding">
                            <form name="form2">
                                <div class="row" style="padding: 20px;">
                                    <section class="col-sm-3 col-md-3 col-lg-3">
                                        <fieldset>
                                            <section>
                                                <label class="label"> <%= translate.instalation_date %></label>
                                                <input type="text" name="request" id="txtDate" readonly ng-model="tendenceConfigs.install_date" placeholder="<%= translate.select_date %>" required class="datepicker" data-dateformat='dd/mm/yy'<%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                            </section>
                                            <section>
                                                    <label class="label"> <%= translate.zero %></label>
                                                    <input type="number" min="0" max="99" ng-model="tendenceConfigs.zero_date_months" 
                                                     name="zeroRefMounths" placeholder="<%= translate.months %>" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" required>
                                                    <label class="label"> <%= translate.months %> </label>
                                                </section>
                                                <section>
                                                    <label class="label"><%= translate.periodicity %></label>
                                                    <input type="number" min="0" max="99" ng-model="tendenceConfigs.period_date_months" name="Periodicidade" placeholder="<%= translate.periodicity %>" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" required>
                                                    <label class="label"> <%= translate.months %> </label>
                                                </section>
                                        </fieldset>
                                    </section>
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>                                               
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td align="center"><%= translate.parameter %></td>
                                                            <td align="center"><%= translate.min %></td>
                                                            <td align="center"><%= translate.max %></td>
                                                        </tr>
                                                        </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><%= translate.impedance %> [m&Omega;]</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="alarmeImpeMin" id="alarmeImpeMin" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" ng-model="tendenceConfigs.impe_min" placeholder="<%= translate.impedance_min %>">
                                                                    <b class="tooltip tooltip-bottom-right"> <%= translate.impedance_min %></b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="alarmeImpeMax" id="alarmeImpeMax" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" ng-model="tendenceConfigs.impe_max"placeholder="<%= translate.impedance_max %>">
                                                                    <b class="tooltip tooltip-bottom-right"> <%= translate.impedance_max %></b>
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td><%= translate.temperature %> [°C]</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="alarmeTempMin" id="alarmeTempMin" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" ng-model="tendenceConfigs.temp_min" placeholder="<%= translate.temperature_min %>">
                                                                    <b class="tooltip tooltip-bottom-right"> <%= translate.temperaturemin %></b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="alarmeTempMax" id="alarmeTempMax" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" ng-model="tendenceConfigs.temp_max" placeholder="<%= translate.temperature_max %>">
                                                                    <b class="tooltip tooltip-bottom-right"> <%= translate.temperature_max %></b>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </fieldset>
                                    </section>
                                </div>
                                <footer>
                                    <button id="btnApply" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" ng-click="applyConfiguration();"><%= translate.apply %></button>
                                </footer>
                            </form>
                        </div>
                    </section>
                    </fieldset>

                </script>

                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('TendenceConfig', ['$resource', function ($resource) {
                            return $resource('/tendence/:id', null, {
                                'update': { method: 'PUT' },
                                'remove': { method: 'DELETE' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('TendenciasController', ['$scope', 'TendenceConfig', function ($scope, TendenceConfig) {
                            $scope.tendenceConfigs = TendenceConfig.get();
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                            
                            $scope.applyConfiguration = function(){
                                // testMode sempre desligado
                                $scope.tendenceConfigs.testMode = 0;
                                var args = $scope.tendenceConfigs;
                                TendenceConfig.update(args);
                                $.bigBox({
                                    title: "<%= translate.info %>",
                                    content: "<%= translate.success %>",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated"
                                });
                            };

                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/tendanalitics.html',
                                    controller: 'TendenciasController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>

        <!-- /.modal -->
        <script>
            $(document).ready(function () {
                
            });
            function resetarPadroes() {

            }
            
            
            function downloadDB() {
                $.SmartMessageBox({
                    title: "Download Banco de Dados",
                    content: "Preferencialmente, efetue o download da rede interna. Continuar?",
                    buttons: '[Não][Sim]'
                }, function (ButtonPressed) {
                    if (ButtonPressed === "Sim") {
                        window.location.href = '/moduloview/downloadDB/';
                    }
                });
            }
        </script>
        <% include partials/footer %>
</body>

</html>
