<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <div id="ribbon">
                <ol class="breadcrumb">
                    <li><%= translate.config %></li>
                    <li><%= translate.time_server %></li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.time_server_config %></h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" class="smart-form">

                                        <ng-view></ng-view>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.time_server_config2 %></h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" class="smart-form">

                                        <fieldset>
                                            <section class="col-sm-12 col-md-12 col-lg-12">
                                                <section class="col-sm-3 col-md-3 col-lg-2" style="margin-top: 5px;">
                                                    <label class="label"><%= translate.datetime %></label>
                                                </section>
                                                <section class="col-sm-3 col-md-3 col-lg-3">
                                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="request" id="txtDate" readonly placeholder="<%= translate.sel_date %>" required class="datepicker" data-dateformat='dd/mm/yy'<%if (userAccess != 'administrador') {%>  disabled  <%}%>>
           </label>
                                                </section>
                                                <section class="col-sm-3 col-md-3 col-lg-3">
                                                    <div class="form-group" style="margin-left:20px;">
                                                        <div class="input-group">
                                                            <input readonly class="form-control" required id="clockpicker" type="text" placeholder="<%= translate.sel_time %>" data-autoclose="true">
                                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                            <button id="btnSetDateTimeManually" onclick="setManualTime();" class="btn btn-primary pull-right" style="width: 100px; height: 30px;"
                                                <%if (userAccess !='administrador') {%>  disabled  <%}%>>
                                                <%= translate.define %>
         </button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <script type="text/ng-template" id="/timeserver.html">
                    <fieldset>
                        <section class="col-sm-12 col-md-12 col-lg-12">
                            <fieldset>
                                <section>
                                    <section class="col-sm-7 col-md-7 col-lg-7">
                                        <label class="input">
         <label class="label"><%= translate.current_datetime %></label>
                                        <input type="text" id="txtSystemTime" value="{{ updatedDate }}" placeholder="<%= translate.current_datetime %>"
                                            readonly>
                                        <b class="tooltip tooltip-bottom-right"><%= translate.current_datetime %></b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-3 col-md-3 col-lg-2" style="margin-top: 5px;">
                                        <label class="label"><%= translate.timeserver %></label>
                                    </section>
                                    <section class="col-sm-4 col-md-4 col-lg-3">
                                        <label class="input">
         <input type="text" ng-model="timeserver[0].timeServerAddress1" id="txtServer1" ng-disabled="acessoUsuario != 'administrador'" placeholder="<%= translate.timeserver %>" style="margin-right: 5px;">
         <b class="tooltip tooltip-bottom-right"><%= translate.timeserver %></b>
        </label>
                                    </section>
                                    <section class="col-sm-4 col-md-4 col-lg-2">
                                        <label class="input">
         <input type="text" ng-model="timeserver[0].timeServerAddress1_complemento" ng-disabled="acessoUsuario != 'administrador'" placeholder="<%= translate.timeserver %>"  style="margin-left: 5px;display:none;">
         <b class="tooltip tooltip-bottom-right"><%= translate.timeserver %></b>
        </label>
                                    </section>
                                    <section class="col-sm-4 col-md-3 col-lg-2">
                                        <input type="button" value="<%= translate.test %>" class="btn btn-primary" onclick="testServer(1);" ng-disabled="acessoUsuario != 'administrador'"
                                            style="margin-left: 20px;width: 100px; height: 32px;" />
                                    </section>

                                    <section class="col-sm-12 col-md-12 col-lg-12">
                                            <section class="col-sm-3 col-md-3 col-lg-2" style="margin-top: 5px;">
                                                <label class="label"><%= translate.timezone %></label>
                                            </section>
                                            <section class="col-sm-4 col-md-4 col-lg-2">
                                                <label class="select">
                                                        <select ng-options="zone as zone for zone in zoneToChoose" ng-model="timeserver[0].timeZone"></select>
                                                </label>
                                            </section>
                                </section>
                            <button ng-click="update()" class="btn btn-primary pull-right" ng-disabled="acessoUsuario != 'administrador'" style="width: 100px; height: 30px;">
                                <%= translate.save %>
     </button>
                        </section>
                    </fieldset>


                </script>
                <script src="smartadmin/js/plugin/moment/moment-timezone-with-data.js"></script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('TimeServer', ['$resource', function ($resource) {
                            return $resource('/timeserver/:id', null, {
                                'update': { method: 'PUT' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('TimeServerController', ['$scope', 'TimeServer', function ($scope, TimeServer) {
                            $scope.serverDate = new Date('<%= serverDate %>');
                            $scope.timezone = '<%= timezone %>';
                            $scope.timeserver = TimeServer.query();
                            $scope.zoneToChoose = moment.tz.names();
                            /* Preparacao da data e hora considerando o fuso horario */
                            var _date = $scope.serverDate;
                            var _tz = $scope.timezone;
                            console.log("date: " + _date);
                            console.log("timezone: " + _tz);
                            // var _newDate = moment.tz(_date,_tz).utcOffset(stdOffset);
                            var _newDate = moment.tz(_date,_tz);
                            console.log("updated date: " + _newDate);
                            $scope.updatedDate = _newDate.format('DD/MM/YYYY HH:mm');
                            /* Funcoes */
                            $scope.update = function () {
                                var timeserver = $scope.timeserver[0];
                                TimeServer.update(timeserver);
                                $.bigBox({
                                    title: "TimeServer",
                                    content: "Dados salvos com sucesso!",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated",
                                    number: timeserver._id
                                });
                                //setTime(); A hora do servido SNTP nao e feita aqui, mas no boot
                            }
                            $scope.getSelectedTimezonePosition = function () {
                                console.log("Inicio getSelectedTimezonePosition");
                                var timeserver = $scope.timeserver[0];
                                var value = timeserver.timeZone
                                var combobox = document.getElementById("timezoneList");
                                console.log(combobox.options.length);
                                console.log(value)
                                for (var i = 0; i < combobox.options.length; i++) {
                                    console
                                    if (combobox.options[i].text == value) {
                                        combobox.options[i].selected = true;
                                        return;
                                    }
                                }
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/timeserver.html',
                                    controller: 'TimeServerController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function testServer(sequencia) {
                $.get("/ntpconfig/test/" + $("#txtServer" + sequencia).val(), null, function (data, status) {
                    $.bigBox({
                        title: "<%= translate.time_server %>",
                        content: data,
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                });
            }
            function setTime() {
                $.get("/ntpconfig/", null, function (data, status) {
                    $.bigBox({
                        title: "<%= translate.time_server %>",
                        content: data,
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                });
            }
            function setManualTime() {
                /* Sanity check */
                if ($("#txtDate").val().trim() == "" || $("#clockpicker").val().trim() == "") {
                    $.bigBox({
                        title: "<%= translate.time_server %>",
                        content: "<%= translate.err1 %>",
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                    return;
                }
                /* Enviando requisicao de troca de data e hora */
                // var _date = $("#txtDate").val().replace("/", "-").replace("/", "-").replace("/", "-");
                var jsDate = $('#txtDate').datepicker('getDate');
                var _date = jsDate.getFullYear() + "-" + jsDate.getMonth() + "-" + jsDate.getDate();
                console.log("jsDate");
                console.log(jsDate);
                var _filledtime = $("#clockpicker").val();
                var _filledDateTime = _date + " " + _filledtime;
                console.log("_filledDateTime: " + _filledDateTime);
                var _tz = '<%= timezone %>';
                console.log("_tz = " + _tz);
                var _newDateTime = moment.tz(_filledDateTime,_tz);
                console.log("_newDateTime: ");
                console.log(_newDateTime);
                var _time = _newDateTime.utc().format("YYYY-MM-DD HH:mm");
                console.log("_time:" + _time);

                $.get("/ntpconfig/manual/" + _time, null, function (data, status) {
                    $.bigBox({
                        title: "<%= translate.time_server %>",
                        content: data,
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                });
            }
            $(document).ready(function () {
                $('#clockpicker').clockpicker({
                    placement: 'top',
                    donetext: 'Done'
                });
            });
        </script>
        <% include partials/footer %>
</body>

</html>
