<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><%= translate.config %></li>
                    <li><%= translate.user %></li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2><%= translate.user_management %></h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body">

                                    <form id="smart-form-register" class="smart-form">
                                        <ng-view></ng-view>
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <script type="text/ng-template" id="/usuarios.html">
                    <section>
                        <div class="widget-body no-padding">
                            <form name="formRegister">
                                <header>
                                    <%= translate.register_form %>
                                </header>

                                <fieldset>
                                    <section>
                                        <label class="input"> <i class="icon-append fa fa-user"></i>
										<input type="text" name="nome" placeholder="<%= translate.first_name %>" ng-model="usuarioSelecionado.nome" required />
										<b class="tooltip tooltip-bottom-right"><%= translate.first_name %></b> </label>
                                    </section>
                                    <section>
                                        <label class="input"> <i class="icon-append fa fa-user"></i>
										<input type="text" name="sobrenome" placeholder="<%= translate.last_name %>" ng-model="usuarioSelecionado.sobreNome" required>
										<b class="tooltip tooltip-bottom-right"><%= translate.last_name %></b> </label>
                                    </section>
                                    <section>
                                        <label class="input"> <i class="icon-append fa fa-envelope"></i>
										<input type="email" name="email" placeholder="<%= translate.email %>" ng-model="usuarioSelecionado.email" required>
										<b class="tooltip tooltip-bottom-right"><%= translate.email %></b> </label>
                                    </section>
                                    <section>
                                        <label class="input"> <i class="icon-append fa fa-phone"></i>
										<input type="text" name="telefone" placeholder="<%= translate.phone %>" ng-model="usuarioSelecionado.telefone">
										<b class="tooltip tooltip-bottom-right"><%= translate.phone %></b> </label>
                                    </section>
                                    <section>
                                        <label class="input"> <i class="icon-append fa fa-lock"></i>
										<input type="password" name="senha" placeholder="<%= translate.password %>" id="senha" ng-model="usuarioSelecionado.senha" required>
										<b class="tooltip tooltip-bottom-right"><%= translate.password %></b> </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button id="btnGravarDb" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador'" ng-click="save();"><%= translate.save %></button>
                                    <input type="button" id="btnCancelarEdicao" class="btn btn-primary" value="<%= translate.cancel %>" style="display:none;" ng-click="cancelarEdicao();"
                                    />
                                </footer>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td><%= translate._first_name %></td>
                                        <td><%= translate._last_name %></td>
                                        <td><%= translate._email %></td>
                                        <td><%= translate._phone %></td>
                                        <td><%= translate.access %></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="usuario in usuarios">
                                        <td>{{ usuario.nome }}</td>
                                        <td>{{ usuario.sobreNome }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.telefone }}</td>
                                        <td>
                                            <label ng-if="acessoUsuario == 'administrador'" class="select">
                                                <select name="ddlAcesso" 
                                                        id="ddlAcesso" 
                                                        ng-model="usuario.acesso" 
                                                        ng-change="updateAcesso($index)">
                                                    <option value="usuario"><%= translate.user %></option>
                                                    <option value="administrador"><%= translate.admin %></option>
                                                    <option value="local"><%= translate.technician %></option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </td>
                                        <td align="center">
                                            <span class="glyphicon glyphicon-pencil" 
                                                style="cursor:pointer;" 
                                                title="<%= translate.edit %>" 
                                                ng-click="editar($index);"
                                                ng-if="acessoUsuario == 'administrador' || emailUsuario == usuario.email">
                                            </span>&nbsp&nbsp
                                            <span class="glyphicon glyphicon-trash" 
                                                style="cursor:pointer;" 
                                                title="<%= translate.remove %>" 
                                                ng-if="acessoUsuario == 'administrador' && emailUsuario != usuario.email"
                                                ng-click="remove($index);">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    </fieldset>

                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('Usuarios', ['$resource', function ($resource) {
                            return $resource('/usuarios/:id', null, {
                                'update': { method: 'PUT' },
                                'remove': { method: 'DELETE' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('UsuarioController', ['$scope', 'Usuarios', function ($scope, Usuarios) {
                            $scope.isEditing = false;
                            $scope.usuarios = Usuarios.query();
                            $scope.save = function () {
                                var usuario = $scope.usuarioSelecionado;
                                var fails = ((usuario == null) || (usuario.sobreNome == null || usuario.sobreNome.trim() == "")
                                            || (usuario.senha == null || usuario.senha.trim() == ""));
                                if(fails){
                                    $.bigBox({
                                        title: "<%= translate.user_register %>",
                                        content: "<%= translate.invalid_register %>",
                                        color: "#FF6666",
                                        timeout: 5000,
                                        icon: "fa fa-check fadeInLeft animated"
                                    });
                                    return;
                                }else{
                                    if($scope.isEditing){ //I'm not sure what is this but I'll let it live here...
                                        $scope.update();
                                    }else{
                                        $.bigBox({
                                        title: "<%= translate.user_register %>",
                                        content: "<%= translate.register_success %>",
                                        color: "#275B89",
                                        timeout: 5000,
                                        icon: "fa fa-check fadeInLeft animated"
                                        });
                                        Usuarios.save(usuario);
                                        // $scope.usuarioSelecionado = null; //this will clean the form and trigger the incorrect field validation...
                                        setTimeout(function () { $scope.usuarios = Usuarios.query(); }, 500);
                                    }
                                }
                            }
                            $scope.remove = function (index) {
                                /* Verifica a quantidade de usuarios na lista e,
                                 * caso exista somente 1 e nao for administrador, acusa erro antes
                                 * de remover o usuario */
                                console.log($scope.usuarios);
                                console.log($scope.usuarios.length);
                                var nbAdmins = 0;
                                var liberado = false;
                                for (_user in $scope.usuarios) {
                                    if ($scope.usuarios[_user].acesso === "administrador") {
                                        console.log("Usuario admin");
                                        nbAdmins++;
                                    }
                                }
                                console.log(nbAdmins);
                                if (nbAdmins > 1) {
                                    /* Caso exista mais de um administrador cadastrado, independente de quem seja
                                     * o usuario, este pode ser removido */
                                    liberado = true;
                                } else {
                                    /* Caso exista apenas um usuario, e importante que o usuario a ser removido
                                     * nao seja o administrador */
                                    if ((nbAdmins === 1) && ($scope.usuarios[index].acesso !== "administrador")) {
                                        liberado = true;
                                    }
                                }
                                /* Caso tudo esteja correto, o usuario pode ser removido */
                                if (liberado === true) {
                                    var usuario = $scope.usuarios[index];
                                    Usuarios.delete({ id: usuario.id });
                                    $scope.usuarios.splice(index, 1);
                                }
                            }
                            $scope.updateAcesso = function (index) {
                                /* Calcula a quantidade de usuarios admin presentes no sistema */
                                var nbAdmins = 0;
                                for (_user in $scope.usuarios) {
                                    if ($scope.usuarios[_user].acesso === "administrador") {
                                        console.log("Usuario admin");
                                        nbAdmins++;
                                    }
                                }
                                /* Atualiza somente se a quantidade admins for maior do que 1 */
                                if (nbAdmins > 1) {
                                    var usuario = $scope.usuarios[index];
                                    Usuarios.update({ id: usuario.id }, usuario);
                                }
                            }
                            $scope.update = function () {
                                var usuario = $scope.usuarioSelecionado;
                                if (usuario != null)
                                    Usuarios.update(usuario);
                                $scope.cancelarEdicao();
                            }
                            $scope.usuarioSelecionado = null;
                            $scope.editar = function (index) {
                                $scope.isEditing = true;
                                $scope.usuarioSelecionado = $scope.usuarios[index];
                                $('#btnGravarDb').val("Atualizar");
                                $("#btnGravarDb").prop('disabled', false);
                                $('#btnCancelarEdicao').show();
                            }
                            $scope.cancelarEdicao = function (index) {
                                $scope.isEditing = false;
                                $scope.usuarioSelecionado = null;
                                $('#btnGravarDb').val("Salvar");
                                $('#btnCancelarEdicao').hide();
                                if ($scope.acessoUsuario != 'administrador')
                                    $("#btnGravarDb").prop('disabled', true);
                                $scope.usuarios = Usuarios.query();
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/usuarios.html',
                                    controller: 'UsuarioController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <% include partials/footer %>
</body>

</html>